.bg-gray{
    background-color: rgb(217, 217, 217);
}

.productos-seleccionados {
    vertical-align: left;
    text-align: right;
    color: rgb(246, 135, 18);
}
.tabla-contenido {
    text-align: center;
    vertical-align: middle;
    color: rgb(246, 135, 18);
}
.centrado {
    text-align: center;
    vertical-align: middle;
}


.nombre-producto {
    text-align: left;
    vertical-align:middle;
}

.total-compra {
        text-align: center;
        vertical-align: middle;
        color: rgb(246, 135, 18);
        
    
}

.btn-total {
    background-color: gray;
    text-align: right;
}
.btn-pagar {
    background-color: rgb(246, 135, 18);
    border:none;
    text-align: center;
}

.fondo-total {
    background-color:rgb(185, 181, 181);
    padding: 1rem; /* Añade relleno si es necesario */
    color: rgb(85, 88, 104);
    text-align: center;
}

.btn-outline-ligth {
    color:rgb(246, 135, 18);
    
}